{
  "presets": [
    "react",
    "latest",
    "stage-2"
  ],
  "plugins": [
    "syntax-decorators",
    "transform-decorators-legacy",
    "transform-class-properties",
    "syntax-dynamic-import",
    "transform-async-to-generator",
    "transform-regenerator",
    "transform-runtime"
  ]

}
